.wrapper {
    display: grid;
    grid-template-columns: 40px auto auto 40px;
    grid-template-rows: 25% auto 100px;
}

header {
    grid-column: span 12;
    background-color: red;
}

content {
    grid-column: span 8;
    background-color: orange;
}

footer {
    grid-column: span12;
    background-color: aqua;
}

@media screen and (max-width: 480px) {
    .header {
        grid-column: span 6;
    }
    .menu {
        grid-row: 1;
        grid-column: span6;
    }
    .content {
        grid-column: span 12;
    }
    .container {
        display: grid;
        grid-template-columns: 100X auto 100 px;
        /* grid-template-row: 50px 50px; */
    }
}
/* 
Het idee lijkt te zijn dat je 1 schil hebt, (container, wrapper)
 call it whatever you like

 waarin je dan vervolgens dingen gaat opdelen in hokjes


 ------------
 |    |     |
 |    |     |
 |    |     |
 ------------ */

