.wrapper {
    width: 70%;
    margin: 0 auto;
    height: 1000px;
    grid-template-areas:
    "menu menu menu menu menu"
     "circle-menu circle-menu circle-menu circle-menu circle-menu"
     "circle-menu circle-menu circle-menu circle-menu circle-menu"
     "circle-menu circle-menu circle-menu circle-menu circle-menu";
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.circles-menu-container {
    grid-area: circle-menu;
    grid-column-start: 2;
    grid-column-end: 4;
    /* background-color: red; */
}

.menu-container {
    grid-area: menu;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: orange;
}


li {
    list-style:none;
    display:inline;
}


#god {
    width:600px;
    height:600px;
    border-radius:600px;
    background-color: aqua;
    z-index: 100; 
    position: absolute;
}

#tihw {
    width:300px;
    height:300px;
    border-radius:300px;
    background-color: blue;
    z-index: 500;
    position: relative;
    margin-left: 150px;
    margin-top: 300px;
}

#zeitgeist {
    width:150px;
    height:150px;
    border-radius:150px;
    background-color: coral;
    z-index: 200;
    margin-top: 200px;
    position: absolute;
}