/* .box-model-properties {
	border: 5px solid lightgreen;
	margin: 20px : 
	padding: 10px
}


body { 
	color: rgb(43, 4, 4);       
}

*/





.black-border {
    border: 5px solid black;
    margin: 4px;
}


body {
    color: white;
} 

/*  */
p, h1, h2, a
{
    padding-left:15px;
}

#main
{
    background-color: rgb(68, 5, 31);
}

#header
{
    background-color: rgb(68, 5, 31);
}

#footer
{
    background-color: rgb(68, 5, 31);
}